.textfield {
    height: 30px;
    width: 300px;
    border: 1px solid #000000;
    border-radius: 10px;
}

/* Don't copy this as it is already in the blank page template, unless your starting from an empty HTML page */
input {
    text-align: left;
    font-size: 14px;
    padding-left: 10px;
    padding-right: 20px;
}