<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="button.css">
    <title>Button Examples</title>
</head>
<body>

    <!-- Use this if the button will not be in a form -->
    <a class="button-1" href="">CLICK ME</a>
    <a class="button-2" href="">CLICK ME</a>


    <!-- Use this if the button will be in a form -->
    <input class="button-1" type="submit" value="(FORM) CLICK ME">
    <input class="button-2" type="submit" value="(FORM) CLICK ME">

</body>
</html>